<section class="rc-about-page">
	<div class="rc-about-page__hero">
		<img src="../images/ruthCollins2.jpg">
		<div class="rc-about-page__copy">
			<h1>Ruth S. Collins</h1>
			<p>Ruth is really great. She does art very well and can paint with both hands at the same time.</p>
		</div>
	</div>
</section>

<% include footer.ejs %>