<h1 class="rc-art-page__title">Landscapes</h1>

<div class="rc-art-page">
	<% landscapes.forEach(function(art) {%> 
		<div class="rc-art-page__container-img">
			<div data-toggle="modal" data-target="#landscapesModal">
				<img class="rc-art-page__img" src="<%= art %>">
			</div>
		</div>

		<div class="modal fade" id="landscapesModal" tabindex="-1" role="dialog" aria-labelledby="landscapesModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<h1>Description</h1>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	<%});%>
</div>