<h1 class="rc-art-page__title">Portraits</h1>

<div class="rc-art-page">
	<% portraits.forEach(function(art) {%> 
		<div class="rc-art-page__container-img">
			<div data-toggle="modal" data-target="#portraitModal">
				<img class="rc-art-page__img" src="<%= art %>">
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="portraitModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<h1>Description</h1>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	<%});%>
</div>
