<h1 class="rc-art-page__title">Portraits</h1>

<div class="rc-art-page">
	<% portraits.forEach(function(art) {%> 
		<div class="rc-art-page__container-img">
			<img class="rc-art-page__img" src="<%= art %>">
		</div>
	<%});%>
</div>
