<!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
Add the slick-theme.css if you want default styling
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

  
    <link rel="stylesheet" type="text/css" href="css/style.css">
 -->
<h1>Ruth Collins Artist Home Page</h1>

<section class="rc-contact">
  <img class="rc-contact__img" src="/images/MonumentValleyNavajoTribalPark.jpg">
  <div class="rc-contact__copy"  id="contact">
    <h2>Contact Ruth S. Collins for Sales or Commissions</h2>
    <hr />
    <div class="row">
        <form class="rc-contact-copy__form" name="sentMessage" id="contactForm" action="https://formspree.io/ruth.collins@att.net" method="POST" >
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name." name="name">                        
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address." name="email">
            </div>
            <div class="form-group">
                <textarea rows="5" placeholder="Pleae enter a message" class="form-control" id="message" required name="message"></textarea>
            </div>
            <br>
            <div id="success"></div>
            <div class="rc-contact__btn">
              <button type="submit" class="btn btn-lg rc-contact__btn">Send</button>
            </div>
        </form>
    </div>
  </div>
</section>