<section class="rc-about-page">
	<div class="rc-about-page__hero">
		<img class="img-thumbnail" src="../images/ruthCollins2.jpg">
		<div class="rc-about-page__copy">
			<h1>Ruth S. Collins</h1>
			<p>
				Ruth has always been an artist, since she displayed talent as a child and was
encouraged by her parents and teachers throughout all her school years in
Towson, MD. She then went on to earn a BA in Art from St. Mary’s College
of Maryland in Southern Maryland.
			</p>

			<p>
				She settled in St. Mary’s County after graduation, since it had become her
new home after 4 years of college there. She loved the diverse landscape of
the relatively small peninsula bordered by the Chesapeake Bay, Potomac
and Patuxent Rivers. Farmers, watermen, Amish, historic buildings, and
military operations all provide her with inspiration.
			</p>
			<p>
				She paints in acrylics and pastels. In recent years she has switched from oils
because of the time it takes for them to dry and to be varnished. Her subject
matter is a matter of principle to her. Living in an area that attracts
vacationers, it’s natural that gift shops are full of decorative beachy items
like crabs, lighthouses, sailboats, seagulls, and the like. These are subjects
she tries to avoid.
			</p>

			<p>
				She wants to show different scenes of real life that might tell a story or in
some way be compelling to the viewer. Almost all of her work is from her
photographs, taken usually from the car, during a walk, or some other place
where the candid camera is employed. (She has been know to borrow
photos, with permission from the photographer.)
She also welcomes commissions, even if it is of a crab in a sailboat rounding
a lighthouse.
			</p>
			<p>
				Ruth is a member of North End Gallery in Leonardtown, MD.
			</p>
		</div>
	</div>
</section>

<% include footer.ejs %>