<div class="container text-center">
	<h1>Email has been sent!</h1>
	<p class="rc-nav__item">Head back to <a class="rc-nav__item" href="/portraits">Portraits</a> and <a class="rc-nav__item" href="/landscapes">Landscapes</a>
</div>
