<section class="rc-contact-page">
  <div class="rc-contact-page__container">
    <div class="rc-contact-page__copy"  id="contact">

      <h1 class="rc-contact-page__title" id="rc-contact-page__title">Contact Ruth Collins Artist</h1>
      <p>To purchase original works, prints, and commissions</p>

      <div class="rc-contact-page__form" id="rc-contact-form-container">
          <form name="sentMessage" id="rc-contact-form" action="/contact" method="POST" role="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-error-msg="Please enter your name." name="name">                   
              </div>
              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-error-msg="Please enter your email address." name="email">
              </div>
              <div class="form-group">
                  <textarea rows="5" placeholder="Pleae enter a message" class="form-control" id="message" required name="message"></textarea>
              </div>

              <div class="g-recaptcha" data-sitekey="6Le_uGIUAAAAADWKPv7JmnXkhy0dJDJhIfc1W7s4" required></div>
              <button id="rc-contact-form-btn" type="submit" class="btn btn-lg rc-contact__btn">Send</button>
          </form>
      </div>
    </div>
  </div>
  <img class="rc-contact-page__img img-thumbnail" src="../images/ruthCollins.jpg">
</section>

<% include footer.ejs %>