<div class="container text-center">
	<h1>Oh no! Something went wrong?!</h1>
	<h1>Want to try again?</h3>
	<h1><a href="/contact">Contact</a></h3>
	<img class="thumbnail" src="../images/landscapes/Stop_and_Slow_Traffic.jpg">
</div>