<footer class="rc-footer page-footer">
	<a class="rc-footer__links" target="_blank" href="https://www.facebook.com/ArtworkByRuthS.Collins/"><i class="fa fa-facebook-official"></i></a>
	<a class="rc-footer__links" target="_blank" href="https://www.instagram.com/ruths.collins/"><i class="fa fa-instagram"></i></a>
	<a class="rc-footer__links" target="_blank" href=""><i class="fa fa-twitter"></i></a>
	<a class="rc-footer__links" target="_blank" href=""><i class="fa fa-envelope"></i></a>
</footer>