<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title>Ruth S. Collins</title>

  </head>

  <body>
    <div class="rc-navbar">
      <a class="rc-navbar-brand" href="/">Ruth S. Collins</a>
      <a class="rc-nav__item" href="/portraits">Portraits</a>
      <a class="rc-nav__item" href="/landscapes">Landscapes</a>
      <a class="rc-nav__item" href="/contact">Contact</a>
      <a class="rc-nav__item" href="/about">About</a>
    </div>

    <%- body %>

    <script src="/js/jquery.min.js"></script>
    <script src="bundle.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
  </body>
</html>
