<section class="rc-landing-page__hero">
  <div class="rc-landing-page__carousel">
    <div class="rc-fade__img-background-1 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-2 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-3 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-4 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-5 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-6 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-7 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-8 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-9 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-10 rc-fade__img-background-style img-fluid"></div>
    <div class="rc-fade__img-background-11 rc-fade__img-background-style img-fluid"></div>
  </div>
</section>
