body  {
  margin: 0 auto;
}

/* Header Section */
.rc-header {
  position: relative;
  margin-top: -415px;
}

.rc-header__img {
  width: 100%;
  height: auto;
}

.rc-header__copy {
  position: absolute;
  top: 42.5%;
  left: 25%;
  transform: translateY(-50%);
}

.rc-header h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 80px;
  color: white;
}

.rc-header__list {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.rc-header__list a {
  color: white;
  font-size: 25px;
}

/* Art Section */

.rc-main-page-art {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -135px;
}

@media only screen and (min-width : 1260px) {
  .rc-main-page-art {
    margin-bottom: -152px;
  }
}

.rc-main-page-art__title {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 75px;
  margin: 25px auto;
}
 
.rc-main-page__art {
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}
 
.rc-main-page__art img{
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
}

.rc-main-page-art__copy {
  margin: 225px 10px;
  padding: 25px 5px;
}

.rc-main-page-art__copy p {
  width: 65%;
  margin-left: 20px;
  font-size: 24px;
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
  .rc-main-page__art {
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
    width: 1000px;
  }
  
  .rc-main-page-art {
    width: 1000px;
  }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
  .rc-main-page__art {
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    width: 800px;
  }
  
  .rc-main-page-art {
    width: 800px;
  }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
  .rc-main-page__art {
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 34;
    column-gap: 0px;
    width: 600px;
  }
  
  .rc-main-page-art {
    width: 600px;
  }
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
  .rc-main-page__art {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    width: 400px;
  }
  
  .rc-main-page-art {
    width: 400px;
  }
}


/* About Section */

.rc-about {
  position: relative;
  margin-top: 200px;
}

.rc-about__img {
  display: flex;
  justify-content: space-evenly;
}

.img {
  margin: 3%;
}

.rc-about__copy  {
  margin: 2% 5% 3%;
}

.rc-about__copy h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  margin: 10px auto;
  font-size: 75px;
}

.rc-about__copy h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.rc-about__copy p {
  font-size: 18px;
  line-height: 1.75;
}


/* Contact Section */

.rc-contact {
  position: relative;
  /*margin-top: -145px;*/
}

.rc-contact__copy {
  position: absolute;
  top: 57.5%;
  left: 22.5%;
  transform: translateY(-50%);
  width: 32.5%;
}

.rc-contact__copy h2 {
  font-family: 'Dancing Script', cursive;
  color: white;
}

.rc-contact-copy__form {
  width: 100%;
}

.rc-contact__btn {
  display: flex;
  justify-content: flex-end;
}

.rc-contact__btn button {
  background-color: #056571;
  color: white;
}

.rc-about__img, .rc-contact__img, .rc-main-page__img {
  height: auto;
  width: 100%;
}

.img1 {
  background: url('/images/StMarysSailing.jpg') no-repeat center center;
  background-size: cover;
}


/* Footer Section */

.rc-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.rc-footer h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  margin: 0;
}

.rc-footer-social-media__links a {
  margin: 0 10px;
  font-size: 22.5px;
  text-decoration: none;
}




