body  {
  margin: 0 auto;
}

/* Header Section */
.rc-header {
  position: relative;
  margin-top: -415px;
}

.rc-header__img {
  width: 100%;
  height: auto;
}

.rc-header__copy {
  position: absolute;
  top: 42.5%;
  left: 25%;
  transform: translateY(-50%);
}

.rc-header h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 80px;
  color: white;
}

.rc-header h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  color: white;
}

.rc-header__list {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.rc-header__list a {
  color: white;
  font-size: 25px;
}

/* Art Section */

.rc-main-page-art {
  width: 100%;
  margin: 0 auto;
}

.rc-main-page-art__title {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 75px;
  margin: 25px auto;
}
 
/* Introduction */

.rc-introduction {
  display: flex;
  align-items: center;
  margin: 10% 5% 0;
}

.rc-introduction__copy {
  width: 65%;
}

.rc-introduction__copy h2 {
  font-family: 'Dancing Script', cursive;
}

.rc-introduction__copy p {
  width: 65%;
  font-size: 20px;
}

/* About Section */

.rc-about {
  position: relative;
  margin-top: 200px;
}

.rc-about__img {
  display: flex;
  justify-content: space-evenly;
}

.img {
  margin: 3%;
}

.rc-about__copy  {
  margin: 2% 5% 3%;
}

.rc-about__copy h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  margin: 10px auto;
  font-size: 75px;
}

.rc-about__copy h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.rc-about__copy p {
  font-size: 18px;
  line-height: 1.75;
}


/* Contact Section */

.rc-contact {
  position: relative;
  /*margin-top: -145px;*/
}

.rc-contact__copy {
  position: absolute;
  top: 57.5%;
  left: 22.5%;
  transform: translateY(-50%);
  width: 32.5%;
}

.rc-contact__copy h2 {
  font-family: 'Dancing Script', cursive;
  color: white;
}

.rc-contact-copy__form {
  width: 100%;
}

.rc-contact__btn {
  display: flex;
  justify-content: flex-end;
}

.rc-contact__btn button {
  background-color: #056571;
  color: white;
}

.rc-about__img, .rc-contact__img, .rc-main-page__img {
  height: auto;
  width: 100%;
}

.img1 {
  background: url('/images/StMarysSailing.jpg') no-repeat center center;
  background-size: cover;
}


/* Footer Section */

.rc-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.rc-footer h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  margin: 0;
}

.rc-footer-social-media__links a {
  margin: 0 10px;
  font-size: 22.5px;
  text-decoration: none;
}

/* Modal Styles */

.modal-img {
  width: 100%;
}

/* Slick Carousel */

.slick-prev:before, .slick-next:before { 
  color: grey !important;
}

.variable-width {
  margin: 0 auto;
  width: 80%;
}

.variable-width img {
  width: 100%;
  height: 700px;
}

.one-time {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.one-time__img {
  margin: 0 auto;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.one-time__copy {
  border: solid black 1px;
  padding: 1%;
}

.one-time__copy h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
}

.one-time__copy p {
  font-size: 16px;
}



