section {
  padding-bottom: 3%;
}
.rc-header {
  position: relative;
}

.rc-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 40px 10px;
}

.rc-header__nav-list li a {
  font-weight: bold;
  padding: 0 20px 0;
  font-size: 18px;
}

.parallax__row__1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0;
  height: 500px;
}

.parallax__row__2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 400px;
  padding: 2% 0;
}

.parallax__row__1 .parallax-container {
  width: 40%;
}

.parallax__row__2 .parallax-container {
  width: 75%;
}

.parallax__copy p {
  font-size: 14px;
}

.parallax__copy .parallax-container {

}

.rc-footer {
  padding-top: 20px;
  background-color: grey;
}



